@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="" method="post" class="form-example">
    <div class="form-example">
        <label for="Prenom">Encodez votre prénom </label>
        <input type="text" name="Prenom" id="Prenom"  />
    </div>
    <div class="form-example">
        <label for="Chiffre1">Entrez le chiffre 1: </label>
        <input type="number" name="Chiffre1" id="Chiffre1"  />
    </div>
    <div class="form-example">
        <label for="Chiffre2">Entrez le chiffre 2: </label>
        <input type="number" name="Chiffre2" id="Chiffre2"  />
    </div>
    <div class="form-example">
        <label for="UnChamps">N'importe koi!': </label>
        <input type="text" name="UnChamps" id="UnChamps" />
    </div>
    <div class="form-example">
        <input type="submit" value="Additionner" />
    </div>
</form>