@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string message = " Coucou les gars!";
}

<h1>@message</h1>
<a href="http://www.google.be">Moteur de recherche</a>

<a href="/Calculette/Addition">Addition</a>

